[Unit]
Description=Meersy Weather App Service
After=network.target

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/weather/weather_dashboard.py
Restart=always
RestartSec=30  # Restart service after 10 seconds if python service crashes
StandardOutput=syslog  # Output to syslog
StandardError=syslog  # Output errors to syslog

[Install]
WantedBy=multi-user.target
