<!DOCTYPE html>
<html>
<head>
<title>Weather Dashboard</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="icon" sizes="192x192" href="{{ url_for('static', filename='android-chrome-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/dashboard.css"> <!--https://www.w3schools.com/w3css/4/w3.css"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- -->
<script src="https://kit.fontawesome.com/e1d7788428.js" crossorigin="anonymous"></script>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.table-responsive {
      overflow-x: auto;
    }
    .custom-center {
      margin: 0 auto;
      width: auto; /* Adjust the width as needed */
    }
</style>
</head>
<!-- <body class="w3-light-grey"> -->
<body class="w3-white">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <!--<button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button> -->
  <span class="w3-bar-item w3-left"><i class="fa fa-dashboard"></i> Weather Dashboard</span>
  <span class="w3-bar-item w3-right"><a href="{{index_URL}}">View data</a></span>
</div>


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:10px;margin-top:43px;">

  <!-- Header 
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Weather Dashboard</b></h5>
  </header> 
-->

  {% block content %}{% endblock %}
 
  <!-- End page content -->
</div>



</body>
</html>
